<ng-container *ngIf="planningRoom">
<p>{{planningRoom.description}} - {{planningRoom.id}}</p>
<div style="display: flex; flex-direction: row; ">
    <div style="width:70%">
        <ng-container *ngIf="selectedProductBacklogItem?.status?.id === processingStatus">
            <h2>{{selectedProductBacklogItem!.description}}</h2>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                <mat-card *ngFor="let cat of planningRoom.estimateValueCategory.estimateValue">
                    <mat-card-content>
                       <button mat-flat-button [color]="cardSelected(cat) ? 'primary' : ''" (click)="registerEstimate(cat)"><h3>{{cat.label}}</h3></button> 
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-container>
        <ng-container *ngIf="selectedProductBacklogItem?.status?.id === completedStatus">
            <canvas baseChart class="chart"
            [data]="estimateChartData"
            [type]="estimateChartType">
            </canvas>
        </ng-container>

        <h3>Product backlog items</h3>
        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="planningRoom.productBacklogItem">
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Status</th>
                <th *ngIf="currentUserId === planningRoom.creationUserId">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of planningRoom.productBacklogItem">
                <td>{{ item.id }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.status.label }}</td>
                <td *ngIf="currentUserId === planningRoom.creationUserId">
                    <button mat-flat-button color="primary" (click)="selectProductBacklogItem(item)" *ngIf="item.id !== selectedProductBacklogItem?.id">Select</button>
                    <button mat-icon-button (click)="deleteProductBacklogItem(item)"><mat-icon>delete</mat-icon></button>
                </td>
            </tr>
            </tbody>
        </table>
        <ng-container *ngIf="currentUserId === planningRoom.creationUserId">
            <h3>Add new product backlog item</h3>
            <form (ngSubmit)="onSubmit()" [formGroup]="productBacklogItemCreation">
                <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
                <mat-error *ngIf="errorHandling('description', 'required')">
                    You must provide a <strong>description</strong>
                </mat-error>
                </mat-form-field>
            
                <button type="submit" mat-raised-button color="primary" [disabled]="!productBacklogItemCreation.valid">
                Save
                </button>
            </form>
        </ng-container>
    </div>
    <div style="width: fit-content;">
        <h2>Users</h2>
        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="planningRoom.planningRoomUsers">
            <thead>
            <tr>
                <th>Username</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of planningRoom.planningRoomUsers">
                <td>{{ user.userName }}</td>
                <td><mat-icon *ngIf="estimated(user)">check_circle</mat-icon></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</ng-container>
