<h1>Planning poker</h1>
<div style="display: flex; flex-direction: row; ">
  <form (ngSubmit)="onSubmit()" [formGroup]="startForm">
    <a mat-raised-button color="primary" routerLink="/room-creation">Create room</a>
    <button mat-raised-button type="submit" [disabled]="!startForm.valid">Join a room</button>
    <mat-form-field>
      <mat-label>Room id</mat-label>
      <input matInput formControlName="roomId">
      <mat-error *ngIf="errorHandling('roomId', 'required')">
        You must provide a <strong>room id</strong>
     </mat-error>
    </mat-form-field>
  </form>
</div>